@charset "utf-8";
body footer {
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    font-weight: 600;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    /* [disabled]border-width: medium; */
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: medium;
}
body {
    background-image: url(images/背景.gif)
}
.图片 {
    margin-left: 0%;

}
.底色内容 {
    margin-left: 15%;
    margin-right: 15%;
    background-color: #CCC9C9;
}

.小标题 {
    font-weight: 600;
    font-size: large;
}
.我的表格 {
    margin-right: 43%;
    float: right;
}
.个人图片 {
    margin-left: 15%;
}
.居左 {
    float: none;
    text-align: left;
}
.大标题 {
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    font-size: xx-large;
    font-weight: 800;
    padding-right: 0px;
    padding-bottom: 0%;
    padding-top: 0px;
}
.导航栏 {
    margin-left: 15%;
    margin-right: 15%;
    font-weight: 600;
    margin-top: 0px;
    padding-bottom: 2%;
    padding-top: 2%;
    background-color: #C0FF00;
    padding-left: 0.5%;
    padding-right: 0.5%;
}
.导航栏链接 {
    color: #000000;
    text-decoration: none;
    font-size: large;
    font-weight: 800;
    background-color: #C0FF00;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.导航栏链接:hover {
    background-color: #AD7626;
    color: #FFFFFF;
}
.小型黑底 {
    background-color: #000000;
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}
.小型黑底:hover {
    color: #FFFFFF;
}
.列表空隙 {
    margin-bottom: 2%;
}
.视频居中 {
    margin-left: 15%;
    margin-right: 15%;
}
.居中小标题 {
    text-align: center;
    font-weight: 800;
    font-size: large;
}
